@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-Side-bar-text: #475569;
  --color-Secendery: var(--ChatSecendery);
  --color-Secendery-hover: var(--ChatSecenderyHover);

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --background-image-gradient-custom: linear-gradient(
    to right,
    #4ae8e5,
    #4376ea,
    #d459ea
  );
  --background-image-gradiant-shadow-dark: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 43%,
    rgba(0, 0, 0, 0) 100%
  );
  --background-image-gradiant-shadow-light: linear-gradient(
    0deg,
    #fff 48%,
    rgba(255, 255, 255, 0) 100%
  );

  --font-sans: var(--font-sans);

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --leading-12: 3rem;
  --leading-extra-loose: 2.5;
  --leading-default: 2rem;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@keyframes slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.5s forwards;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility custom-gradient-text {
  @apply inline-block text-transparent bg-clip-text bg-linear-to-r from-[#4376EA]  to-[#D459EA];
}

@layer base {
  @font-face {
    font-family: "iranyekan";
    font-style: "bold";
    font-weight: 700;
    font-display: swap;
    src: url(/font/iran/iranyekanwebbold.woff2) format("woff2");
  }

  @font-face {
    font-family: "iranyekan";
    font-style: "medium";
    font-weight: 500;
    font-display: swap;
    src: url(/font/iran/iranyekanwebmedium.woff) format("woff");
  }

  @font-face {
    font-family: "iranyekan";
    font-style: "regular";
    font-weight: 400;
    font-display: swap;
    src: url(/font/iran/iranyekanwebregular.woff2) format("woff2");
  }
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/font/english/OpenSans-Regular.woff) format("woff");
  }
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/font/english/OpenSans-VariableFont_wdthwght.woff) format("woff");
  }
  @font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: url(/font/english/OpenSans-Italic.woff) format("woff");
  }
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url(/font/english/OpenSans-Bold.woff) format("woff");
  }
  @font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: url(/font/english/OpenSans-BoldItalic.woff) format("woff");
  }
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: url(/font/english/OpenSans-ExtraBold.woff) format("woff");
  }
  @font-face {
    font-family: "Open Sans Light";
    font-style: normal;
    font-weight: 300;
    src: url(/font/english/OpenSans-Light-webfont.woff) format("woff");
  }
  @font-face {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 700;
    src: url(/font/english/OpenSans-CondBold.woff) format("woff");
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: #0d6efd;
    --primary-foreground: #fefefe;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 68%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --font-sans: iranyekan, OpenSans-Regular, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --color-Scroll: #fdfdfd;
    --color-Scroll-Back: #aaa4a4;
    --color-Scroll-Hover: #c7bdbd;
    --ColorChat: #dee2e6;
    --ColorBase: #fff;
    --ColorWeather: #facc15;
    --ColorChatSecendDark: #4b4a4a;
    --ChatSecendery: #2563eb;
    --ChatSecenderyHover: #1e40af;
    --containerSize: 45rem;
    --ColorContrary: #000;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: #5a5858;
    --primary-foreground: #fefefe;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --color-Scroll: #3a3a3a;
    --color-Scroll-Back: #221c1c;
    --color-Scroll-Hover: #413f3f;
    --ColorChat: #313131;
    --ColorBase: #000;
    --ColorContrary: #fff;
  }
}

@layer utilities {
  @media (max-width: 767px) {
    .hide-scrollbar {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }

  .leaflet-control-attribution {
    display: none !important;
  }

  .import {
    color: #1e88e5;
    font-weight: bold;
  }

  .method {
    color: #ff9800;
  }

  img {
    object-fit: contain;
  }

  code {
    background: inherit !important;
  }

  pre{
    width: 100% !important;
  }

  .react-transform-wrapper {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
  }

  .text-wrap {
    word-wrap: break-word;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-Scroll);
    border-radius: 3px;
    border: 1px solid #312d2d;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-Scroll-Back);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-Scroll-Hover);
  }

  .break-words {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .image {
    background-image: url(/image/backgrand3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .img404 {
    background-image: url(/image/back404.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .footerimg {
    background-image: url(/image/fotter.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .border-gradient-border {
    background-image: linear-gradient(45deg, #4ae8e5, #4376ea, #d459ea);
    background-origin: border-box;
    background-clip: border-box;
  }

  .swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    position: static;
    padding-top: 10px;
  }

  .swiper-pagination .swiper-pagination-bullet {
    background: #888d3f;
  }

  .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4ae8e5;
  }

  .swiper-Slider-button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: 7rem !important;
    height: 3rem !important;
  }

  .swiper-Slider-button-pro-Edit {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: 6rem !important;
    height: 3rem !important;
  }

  .swiper-slide-custom {
    display: flex !important;
    width: 0.3rem !important;
  }

  @media (min-width: 768px) {
    .swiper-slide-custom {
      display: none !important;
    }
  }

  #error {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 1rem !important;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.lds-ring,
.lds-ring div {
  box-sizing: border-box;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid currentColor;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
